* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #212529;
  scroll-behavior: smooth;
}

body {
  max-width: 720px;
  margin: 24px auto;
}

/* Elements */
nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

main {
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
  color: #212529;
  transition: 0.1s;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: initial;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  margin: 32px 0 12px;
}

/* Name */
#name {
  margin: 48px 0 32px;
}

/* Introduction */
#introduction p {
  line-height: 1.5rem;
  margin: 12px 0;
}

.highlight-green {
  padding: 1px;
  transition: 0.1s;
}

.highlight-green:hover {
  background-color: #8eba3a;
  color: #fefefe;
}

.highlight-blue {
  padding: 1px;
  transition: 0.1s;
}

.highlight-blue:hover {
  background-color: #173376;
  color: #fefefe;
}

/* Contact */
#contact {
  border: 2px solid #ced4da;
  padding: 12px 12px;
  margin: 24px 0;
  display: flex;
  justify-content: center;
}

#contact p a {
  color: #6c757d;
}

#contact p a::before {
  background-color: #6c757d;
}

/* Experience */
#companies {
  display: flex;
  gap: 32px;
}
